body {
  justify-content: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: teal;
  border-radius: 5px;
}

#languageHeader {
  background-color: darkgoldenrod;
}
